#main{
    padding-right: 720px;
}
#main-right{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 50%;
}
#main-right #calendar{
    height: 100%;
    background-color: #F2F2F2;
}

@media screen and (min-width: 1401px) and (max-width: 1800px) {
	#main{
		padding-right: 40%;
	}
}
