
/* Color */
$grey: #676767;
$grey2: #EAEAEA;
$black: #131313;
$red: #C32E2E;
$red2: #E10A1B;
$blue: #5BB1FD;
$blue2: #477CD5;
$blue3: #1800B5;
$blue4: #0770FE;
$green: #00B715;

/* Fonts */
$roboto: 'Roboto', sans-serif;
$heebo: 'Heebo', sans-serif;
$rockwell: 'rockwell', sans-serif;
$rockwell_bold: 'rockwell_bold', sans-serif;