
@import "styles.variable.scss";
@import "mixin.scss";

/**** RESPONSIVE STYLE >320px ****/
@media screen and (min-width: 320px) and (max-width: 1400px){
	
	.bt-red, .bt-black, .bt-blue, .bt-green, .bt-border, .bt-blue2, .bt-blue3, .bt-blue4, .bt-grey{
		font-size: 14px;
	}
	
	div, a, p, span, td, th, caption, li, h1, h2, h3, h4, legend, input, label, textarea, section, main, aside, article, ul{
		font-size: 14px;
	}
	
	#login {
		.content-inner{
			padding: 0 20px;
			padding-top: 60px;
		}
		h1{
			font-size: 32px;
			margin: 0 0 20px 0;
		}
		.form-std{
			padding: 20px;
			label{
				font-size: 16px;
			}
			input{
				font-size: 14px;
			}
			.input-submit input{
				font-size: 14px;
				width: 100%;
				max-width: 330px;
			}
		}
		.button-bottom{
			@include flexbox-wrap(wrap);
			a{
				margin: 7px;
			}
		}
	}
	
	#main{
		@include flexbox-wrap(wrap);
		h2{
			font-size: 22px;
		}
		.table-std{
			td, th{
				font-size: 14px;
			}
		}
	}
	#main-right{
		width: 100%;
		max-width: 100%;
	}
	#main-left {
		@include flexbox-wrap(wrap);
		.left {
			header {
				.top {
					height: 70px;
					p{
						font-size: 18px;
					}
				}
				.bottom{
					padding: 10px 0;
					.button-top a{
						font-size: 12px;
						margin: 5px;
						min-width: 0;
					}
				}
			}
			.content{
				padding: 20px;
				.list-user{
					padding: 0;
					> .item .title{
						width: 180px;
						@include flexbox-wrap(wrap);
						p{
							font-size: 14px;
						}
					}
				}
				.list-task .task{
					padding: 5px 0px;
					.title p{
						font-size: 12px;
					}
				}
			}
		}
		.right {
			width: 100%;
			/* max-width: 415px; */
			header {
				.top {
					height: 70px;
					p{
						font-size: 18px;
					}
				}
				.bottom{
					height: auto;
					padding: 20px;
				}
			}
			.content {
				.button-top a{
					font-size: 12px;
				}
				.detail-task {
					.task-date {
						.date p{
							font-size: 18px;
						}
						.task .info .title p {
							font-size: 12px;
							span{
								font-size: 16px;
							}
						}
					}
				}
			}
		}
		.right-invoice {
			width: 100%;
			header {
				.top{
					height: 70px;
					padding: 0 20px;
					p{
						font-size: 18px;
					}
				}
			}
			.content .detail-invoice{
				padding: 20px;
				h2{
					font-size: 24px;
				}
				.row {
					margin: 0;
					>div{
						padding: 0;
						flex: none;
						width: 100%;
					}
					.column-invoice {
						margin: 20px;
						.title{
							font-size: 18px;
						}
					}
				}
				.table-invoice {
					thead {
						th{
							font-size: 12px;
						}
					}
					td{
						font-size: 12px;
					}
					tfoot .txt-blue4{
						font-size: 18px;
					}
				}
			}
		}
	}
	
	#detail-appartment {
		header {
			.top{
				height: 70px;
				padding: 0 20px;
				p{
					font-size: 18px;
				}
			}
			.bottom{
				padding: 40px 20px;
			}
		}
		.row{
			>div{
				margin: 0 0 20px 0;
			}
		}
		.content{
			padding: 35px 20px;
		}
	}
	
	#main-center {
		header {
			.top {
				height: 70px;
				p{
					font-size: 18px;
				}
			}
		}
		.content {
			.left-image{
				width: 100%;
			}
		}
		.row{
			width: auto;
			margin: 0;
			>div{
				padding: 0;
			}
		}
	}
	
	.bt-view, .bt-edit, .bt-settings2, .bt-invoice{
		margin-left: 10px;
	}
	
	.white-popup-block, .ui-dialog {
		#add-task{
		}
		._lightbox-std, .lightbox-std{
			max-width: 100%;
			.content-lightbox{
				header{
					height: 70px;
					.title{
						font-size: 24px;
					}
				}
				.left-detail{
					.content{
						padding: 20px;
						h2{
							font-size: 20px;
						}
						.list-photo{
							.photo{
								width: 100%;
								text-align: center;
								margin: 0 0 20px 0 !important;
							}
						}
					}
				}
				.left {
					margin: 0;
					padding: 0;
					.image{
						display: none;
					}
				}
				.right{
					padding: 20px;
				}
				.center{
					padding: 0 20px;
				}
				h2, h3{
					font-size: 20px;
				}
				.row{
					margin: 0 -20px;
					.col{
						margin-bottom: 40px;
						.bottom a{
							margin-top: 20px;
						}
					}
				}
				.title{
					font-size: 20px;
				}
				p, ul li{
					font-size: 14px;
				}
				table{
					margin: 0 -10px;
					td, th{
						font-size: 14px;
						padding: 3px 10px;
					}
				}
				.form-std fieldset .input-submit2.text-center input,{
					width: 100%;
				}
			}
		}
	}
	
	.form-std {
		fieldset{
			legend{
				font-size: 18px;
			}
		}
		label{
			font-size: 14px;
		}
		input, textarea{
			font-size: 14px;
		}
		.input-flex{
			@include flexbox-wrap(wrap);
			.col-4, .col-8{
				width: 100%;
				margin: 0 0 10px 0;
			}
		}
		.input-date{
			flex: 1;
		}
		.input-col-3{
			column-count: 1;
		}
		.input-checkbox label{
			font-size: 14px;
		}
		.input-number label{
			width: 150px;
		}
		.input-prestation .input-checkbox{
			min-width: 100px;
			label{
				font-size: 14px;
			}
		}
	}
	
	.ui-selectmenu-button{
		font-size: 14px !important;
	}
	.table-owner{
		margin: 0 0 25px 0 !important;
	}
}

@media screen and (min-width: 768px) and (max-width: 1400px){
	#main-left .left{
		flex: 1;
	}
	#main-left .right{
		max-width: 415px;
	}
}