/* Color */
/* Fonts */
/* 
TRANSITION
*/
/* 

SHADOW

*/
/* Browser Prefixes */
/* Background gradient */
/* Rotate */
/* Scale */
/* Translate */
/* Skew */
/* Transform Origin */
/* Flex box */
/*

BOX-SIZING

*/
/* 

Top center

*/
/*

Horizontal center

*/
/**** BUTTON / TEXT STYLE ****/
/* line 6, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-red, .bt-black, .bt-blue, .bt-green, .bt-border, .bt-blue2, .bt-blue3, .bt-blue4, .bt-grey {
  display: inline-block;
  padding: 13px 30px;
  color: #fff !important;
  background-color: #C32E2E;
  text-transform: uppercase;
  border-radius: 30px;
  font-size: 18px;
  font-family: "Heebo", sans-serif;
  text-decoration: none !important;
  -webkit-transition: all 0.3s 0s ease-in-out;
  -moz-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
  position: relative;
}

/* line 18, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-red:hover, .bt-red:active, .bt-red:focus, .bt-black:hover, .bt-black:active, .bt-black:focus, .bt-blue:hover, .bt-blue:active, .bt-blue:focus, .bt-green:hover, .bt-green:active, .bt-green:focus, .bt-border:hover, .bt-border:active, .bt-border:focus, .bt-blue2:hover, .bt-blue2:active, .bt-blue2:focus, .bt-blue3:hover, .bt-blue3:active, .bt-blue3:focus, .bt-blue4:hover, .bt-blue4:active, .bt-blue4:focus, .bt-grey:hover, .bt-grey:active, .bt-grey:focus {
  text-decoration: none;
  background-color: #9a2424;
}

/* line 24, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-red {
  background-color: #C32E2E;
}

/* line 26, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-red:hover, .bt-red:active, .bt-red:focus {
  background-color: #9a2424;
}

/* line 30, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-border {
  background-color: transparent;
  border: 1px solid #676767;
  color: #131313 !important;
}

/* line 34, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-border:hover, .bt-border:active, .bt-border:focus {
  background-color: #131313;
  color: #fff !important;
}

/* line 39, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-black {
  background-color: #131313;
}

/* line 41, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-black:hover, .bt-black:active, .bt-black:focus {
  background-color: #00B715;
  color: #131313 !important;
}

/* line 46, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-blue {
  background-color: #5BB1FD;
}

/* line 48, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-blue:hover, .bt-blue:active, .bt-blue:focus {
  background-color: #2999fc;
}

/* line 52, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-blue2 {
  background-color: #477CD5;
}

/* line 54, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-blue2:hover, .bt-blue2:active, .bt-blue2:focus {
  background-color: #2b62be;
}

/* line 58, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-blue3 {
  background-color: #1800B5;
}

/* line 60, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-blue3:hover, .bt-blue3:active, .bt-blue3:focus {
  background-color: #477CD5;
}

/* line 64, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-blue4 {
  background-color: #0770FE;
}

/* line 66, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-blue4:hover, .bt-blue4:active, .bt-blue4:focus {
  background-color: #477CD5;
}

/* line 70, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-grey {
  background-color: #B8BCC1;
  color: #fff !important;
}

/* line 73, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-grey:hover, .bt-grey:active, .bt-grey:focus {
  background-color: #9A9A9A;
}

/* line 77, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-green {
  background-color: #00B715;
  color: #131313 !important;
}

/* line 80, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-green:hover, .bt-green:active, .bt-green:focus {
  background-color: #00840f;
}

/* line 86, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-invoice {
  background: url("../../images/icon_invoice.svg") no-repeat center center;
  background-size: auto 100%;
  margin-left: 20px;
  text-indent: -9999px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 95, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-view {
  background: url("../../images/icon_search2.svg") no-repeat center center;
  background-size: auto 100%;
  margin-left: 20px;
  text-indent: -9999px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 104, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-edit {
  background: url("../../images/icon_edit.svg") no-repeat center center;
  background-size: auto 100%;
  margin-left: 20px;
  text-indent: -9999px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 113, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-notification {
  background: url("../../images/icon_notification.png") no-repeat center center;
  background-size: auto 100%;
  margin-left: 20px;
  text-indent: -9999px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

/* line 121, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-notification:hover, .bt-notification.active {
  background: url("../../images/icon_no_notification.png") no-repeat center center;
}

/* line 125, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-settings2 {
  background: url("../../images/icon_key.svg") no-repeat center center;
  background-size: auto 100%;
  margin-left: 20px;
  text-indent: -9999px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 134, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-settings {
  background: url("../../images/icon_settings2.svg") no-repeat center center;
  background-size: auto 100%;
  text-indent: -9999px;
  display: inline-block;
  width: 20px;
  height: 20px;
}

/* line 142, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-photo {
  display: inline-block;
  width: 15px;
  height: 13px;
  background: url("../../images/icon_photo.svg") no-repeat center center;
  text-indent: -9999px;
}

/* line 150, ../site/templates/default/sass/scss/styles.repeat.scss */
.text-right {
  text-align: right !important;
}

/* line 153, ../site/templates/default/sass/scss/styles.repeat.scss */
.text-center {
  text-align: center !important;
}

/* line 156, ../site/templates/default/sass/scss/styles.repeat.scss */
.text-left {
  text-align: left !important;
}

/* line 160, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-red {
  color: #C32E2E !important;
}

/* line 162, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-red * {
  color: inherit;
}

/* line 166, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-blue {
  color: #5BB1FD !important;
}

/* line 168, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-blue * {
  color: inherit;
}

/* line 172, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-blue2 {
  color: #477CD5 !important;
}

/* line 174, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-blue2 * {
  color: inherit;
}

/* line 178, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-blue3 {
  color: #1800B5 !important;
}

/* line 180, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-blue3 * {
  color: inherit;
}

/* line 184, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-blue4 {
  color: #0770FE !important;
}

/* line 186, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-blue4 * {
  color: inherit;
}

/* line 190, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-black {
  color: #131313 !important;
}

/* line 192, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-black * {
  color: inherit;
}

/* line 196, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-green {
  color: #00B715 !important;
}

/* line 198, ../site/templates/default/sass/scss/styles.repeat.scss */
.txt-green * {
  color: inherit;
}

/* line 203, ../site/templates/default/sass/scss/styles.repeat.scss */
h2.center, h3.center, h1.center {
  text-align: center !important;
}

/* line 206, ../site/templates/default/sass/scss/styles.repeat.scss */
h2.left, h3.left, h1.left {
  text-align: left !important;
}

/* line 209, ../site/templates/default/sass/scss/styles.repeat.scss */
h2.right, h3.right, h1.right {
  text-align: right !important;
}

/* line 213, ../site/templates/default/sass/scss/styles.repeat.scss */
.bt-add {
  background: url("../../images/icon_plus.svg") no-repeat center center;
  width: 21px;
  height: 21px;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
}

/**** END BUTTON / TEXT STYLE ****/

/*# sourceMappingURL=styles.repeat.css.map */