<div id="custom-content" class="white-popup-block white-popup-block-padding">
    <div class="content-lightbox">
        <h1>Photo for task #{{ task.id }}</h1>
        <img src="{{ asset('uploads/files/' ~ task.photo) }}" width="800" />
    </div>
</div>
