<div id="custom-content" class="white-popup-block white-popup-block-padding">
    <div class="content-lightbox">
        <h1>Note for task #{{ task.id }}</h1>
        <p>{{ task.note|nl2br }}</p>
    </div>
</div>
